.App {
  font-family: sans-serif;
  text-align: center;
}

ul li {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 17px;
  display: inline;
}


a {
    color: #ffffff !important;
    text-decoration: none !important;
}
.nav {
  background: black;
  color: white;
}

.totalcard {
  position: absolute;
    top: -5px;
    color: white;
    left: 160px;
    width: 30px;
    height: 30px;
    background: rgb(0, 172, 26);
    color: black;
    font-weight: bold;
    font-size: 18px;
    border-radius: 50%;
}

.container {
  margin-top: 40px;
}


.floatR  {
  float: right;
}

.searchbox {
  position: absolute;
    top: 15px;
    border-radius: 5px;
    border: 0px;
    height: 30px;
    right: 20px;
    width: 250px;
}
